{% extends 'base.html' %}
{% block content %}
<style>
        .container{
            padding-left:380px;
            padding-right: 250px;
        }
    </style>
<div class="container">
    <h1>Login</h1><br>
    {% if error %}
    <h4 style="color:red;"><i>{{ error }}</i></h4><br>
    {% endif %}
    
    <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            User Name:<br><br>
            <input type="text" name="username" style="padding-left: 3px" />
            <br/>
            <br/>
            Email:<br><br>
            <input type="text" name="email" style="padding-left: 3px" />
            <br/>
            <br/>
            Password:<br><br> 
            <input type="password" name="password" style="padding-left:3px" />
            <br />
            <br />
            <button type="submit" class="btn btn-primary"/>Submit</button>
        </form>
    
</div>
{% endblock %}