{% extends 'base.html' %}
{% block content %}

<div>
    <h1>Upload Image</h1><br>
    {% if error %}
    <h4 style="color:red;"><i>{{ error }}</i></h4><br>
    {% endif %}
    
    <form method="POST" action="{% url 'scan' %}" enctype="multipart/form-data">
            {% csrf_token %}
            Name:<br><br>
            <input type="text" name="name" style="padding-left: 3px" />
            <br/>
            <br/>
            Language( Enter eng or tam or eng + tam):<br><br> 
            <input type="text" name="language" id="language"  />
             <br/>
             <br/>
            Type of Document:<br><br>
            <select name="type">
                <option value="birth certificate">Birth Certificate</option>
                <option value="death certificate">Death Certificate</option>
                <option value="marriage certificate">Marriage Certificate</option>
                <option value="others">Others</option>
            </select>
            <br/>
            <br/>
            Upload File:<br><br>
            <input type="file" name="image" id="fileUpload" class="btn btn-outline-primary" />
             <br/>
             <br/>
            
            <button type="submit" class="btn btn-primary"/>Submit</button>
        
    </form>
</div>
{% endblock %}